<h1> editer un formilaire </h1>


<%= form_for @gossip_to_edit, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
<label> Titre du gossip</label>
  <%= f.text_field :title %>
  <p>
<label> Contenu du gossip</label>
  <%= f.text_area :content %>
</p>
<p>
	  <%= f.submit "Edit" %>
</p>


<% end %>




